.venv/
venv/
env/
ENV/

.env
.env.*

.vscode/

__pycache__/
*.py[cod]

# Storage
# -----------------------

# Ignore generated data
backend/storage/chroma/
backend/storage/temp/

# Ignore uploaded PDFs
backend/storage/uploads/*

# Keep empty folders
!backend/storage/uploads/.gitkeep
!backend/storage/temp/.gitkeep